<section id="Education" class="cent">
  <h1>Bachelor of Technology in Computer Science</h1>
  <h2 class="spec">RVR & JC College of Engineering</h2>
  <h3>2020-2024</h3>
  <li>Pursuing 3rd year of B.Tech program with a C.G.P.A of 8.65 out of 10.</li>
   <li> <b>Relevant Coursework:</b> Data Structures,
    Operating Systems, Relational Data Base Management Systems, Computational Statistics.</li>
  <li>Enrolled in an Honors degree, in which I covered the Advanced Data Structures course with 80% marks.</li>
  <li>Recently joined in ACM Student Chapter, excitedly looking forward to organizing the tech events at my college.
  </li>
</section>
