#About{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4{
  font-family: 'Roboto Mono';
  font-size: 15px;
  background-color: var(--tri);
  border-radius: 10px;
  padding: 10px;
  /* height: 80px; */
  border-bottom:  3px solid var(--prim);
  border-right: 3px solid var(--prim);
  text-align: left;
}

#cont{
  width: 300px;
}

