<section id="About" class="cent">
  <h2>Hi There!</h2>
  <h1>I'm <span class="spec name" >Ujjwal R Sanagapati</span></h1>
  <br>
  <h4 id="cont1" style="color:aliceblue">|👨🏻‍💻 Intern @<a class="spec" href="https://internship.aicte-india.org/module_ulb/Dashboard/TulipMain/" target="_blank">TULIP : DAY-NULM</a> by <a href="https://mohua.gov.in/" class="spec" target="_blank">MoHUA</a>|
    <br>|🚀 Curious Student Developer |
    <br>|📱 Android and Web Development |
    <br>|🤖 Machine Learning |
    <br>|🎓 RVR&JC 2024|
  </h4>
  <br>
  <a class="links exp" style="width:300px;  background-color: var(--prim);color: black;" href="#Home">Explore</a>

</section>
