<section id="Contacts" class="cent">
  <div class="contact "><img src="./assets/icons8-gmail-48.png"><a
      href="ujjwalrsanagapati@gmail.com">ujjwalrsanagapati@gmail.com</a></div>
  <div class="contact "><img src="./assets/icons8-linkedin-50.png">
    <li>@ujjwalrsanagapati</li></div>
  <div class="contact "><img src="./assets/icons8-github-30.png">
    <li>@ujjwalr-y20cs161</li></div>
    <br>
    <h2>Made with 💖 and</h2>
  <div class="bar">
    <img class="img1" alt="Angular 💖" src="../../assets/icons8-angular-512 (1).png">
    <img class="img2" alt="Firebase 🔥" src="../../assets/icons8-firebase-a-google's-mobile-platform-that-helps-you-quickly-develop-high-quality-apps-96.png">
  </div>
</section>

