*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.links{
  padding: 10px;
}

header{
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.profile{
  height: 120px;
  width: 120px;
}

.person{
  display: flex;
  /* background-color: aliceblue; */
}

