<header>
  <div class="person">
      <div class="iconn"><img class="profile" src="./assets/Profpic2.jpg" alt="Profile PIC"></div>
    <h2 class="spec name">Ujjwal R Sanagapati</h2>
  </div>
  <nav>
    <a href="#About" class="links"><img  class="bit" src="https://img.icons8.com/badges/48/home.png" alt="home" /> Home</a>
    <a href="#Home" class="links"><img   class="bit" src="https://img.icons8.com/badges/48/user-male-circle.png" alt="user-male-circle" />About</a>
    <a href="#Skills" class="links"><img   class="bit" src="https://img.icons8.com/badges/48/wrench.png" alt="wrench" />Skills</a>
    <a href="#Education" class="links"><img  class="bit" src="https://img.icons8.com/badges/48/graduation-cap.png" alt="graduation-cap" />Education</a>
    <a href="#Projects" class="links"><img  class="bit" src="https://img.icons8.com/badges/48/api.png" alt="api" />Projects</a>
    <a href="#Contacts" class="links"><img  class="bit" src="https://img.icons8.com/badges/48/new-post.png" alt="new-post" />Contact</a>
    <a class="links exp" style="background-color: var(--prim);color: black;" href="https://ujjwalr.me/GPA" target="_blank"> <img  class="bit" src="https://img.icons8.com/badges/48/math.png" alt="math" />GPA Caluculator</a>
  </nav>

</header>
