<header>
  <div class="person">
      <div class="iconn"><img class="profile" src="./assets/Profpic2.jpg" alt="Profile PIC"></div>
    <h2 class="spec">Ujjwal R Sanagapati</h2>

  </div>

  <nav>
    <a href="#Home" class="links">Home</a>
    <a href="#About" class="links">About</a>
    <a href="#Skills" class="links">Skills</a>
    <a href="#Education" class="links">Education</a>
    <a href="#Projects" class="links">Projects</a>
    <a href="#Contacts" class="links">Contacts</a>
  </nav>

</header>
