*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.links{
  width: 170px;
  padding: 10px 15px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: var(--sec);
}




header{
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.profile{
  height: 120px;
  width: 120px;
}

.person{
  display: flex;
  /* background-color: aliceblue; */
}

.bit{
  height: 20px;
}

