*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.links{
  padding: 10px;
}

.profile{
  height: 120px;
  width: 120px;
}

.person{
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}
