<section id="Skills" class="cent">
  <h1 class="headings spec">My Skills</h1>
  <div class="contBig">

    <div class="cont">

      <h2>
        <u>Technical</u>
      </h2>
      <ul>
        <br>
        <li><span class="spec">Languages:</span>
          C/C++, Python, Java, SQL, HTML , CSS, JavaScript , and R.</li>
        <br>
        <li><span class="spec">Softwates:</span>
          Android Studio, Oracle DB, Git, GitHub, Adobe Photoshop, Premiere Pro, and Canva.
        </li>
      </ul>
    </div>

    <div class="cont">
      <h2>
        <u>Soft Skills:</u>
      </h2>
      <br>
      <ul>
        <li>Leadership.</li>
        <li>Organizing and Management skills</li>
        <li>Clear verbal and written communication</li>
        <li>Confident Speaker</li>
      </ul>
    </div>

    <div class="cont">
      <h2>
        <u>Languages:</u>
      </h2>
      <br>
      <ul>
        <li>English</li>
        <li>Telugu</li>
        <li>Hindi</li>
      </ul>
    </div>
  </div>
</section>
