<h1 class="headings spec">Projects</h1>
<section id="Projects"class="cent">

    <div class="side-proj">
      <h1>Side Projects</h1>
      <a href="https://ujjwalr.me/GPA" target="_blank">
        <div class="card">
          <h1 class="spec hype">GPA Calculator</h1>
          <h3>[HTML, CSS, JS, GitHub Pages]</h3>
          <br>
          <li>Tailor-made GPA Calculator for RVRJC CSE and IT</li>
          <br>
          <li>Helped nearly 400 students </li>
        </div>
      </a>
      <a href="https://github.com/ujjwalr-y20cs161/Boon-Voyage"  target="_blank">
          <div class="card">
            <h1 class="spec hype">Boon Voyage</h1>
            <h3>[Android Studio, Firebase, and Google Maps API]</h3>
            <br>
            <li>A Crash Detection and
              Safe Monitoring mechanisms with Additional Navigation features</li>
            <br>
            <li>Pitched at the "Smart Idea Challenge" by RVRJC Entrepreneurship Cell.</li>
          </div>
      </a>
    </div>

        <div class="side-proj">
          <h1>Internships & Projects</h1>
          <a href="https://github.com/ujjwalr-y20cs161/" target="_blank">
            <div class="card">
              <h1 class="spec hype">Sarvah-Bhojan: A food Delivery App</h1>
              <h3 class="spec">TULIP DAY-NULM by MoHUA | May 2023</h3>
              <h4>[Android Studio, Angular, Firebase, Node.js]</h4>
              <br>
              <li>Migrating the Community Kitchens of SHGs on to a Digital Platfrom</li>
            </div>
          </a>
          <a href="https://github.com/ujjwalr-y20cs161/ML" target="_blank">
            <div class="card">
              <h1 class="spec hype">Image Denoiser</h1>
              <h3 class="spec">Indian Servers | June 2022</h3>
              <h4>[Python, Keras, CNN]</h4>
              <br>
              <li>Led a team, modeled an Image Denoising Software using Auto-Encoders Model</li>
              <br>
              <li>This model takes a 28x28 pixel grayscale image with noise and outputs a denoised image</li>

            </div>
          </a>
        </div>



</section>
