<section id="Projects"class="cent">
    <h1>Projects</h1>
    <a class="spec hype" href="https://ujjwalr-y20cs161.github.io" target="_blank">
        <h1>GPA Calculator</h1>
    </a>
        <li>Tailor-made a GPA Calculator for my college's CSE and IT departments using HTML,CSS and pure JavaScript.
        </li>
        <br>
        <li>Helped nearly 400 students calculate their SGPA and CGPA.</li>
        <br>
        <li>Deployed using GitHub pages.</li>


    <a href="https://github.com/ujjwalr-y20cs161/Boon-Voyage" class="spec hype" target="_blank">
        <h1>Boon Voyage</h1>
    </a>

        <li>Strategically led and developed, a mobile application that ensures personal safety using Crash Detection and
            Safe Monitoring mechanisms and provides a way to order essential services such as Fuel -Refilling, Vehicle
            Repair, and Guide support while traveling.</li>
        <br>
        <li>Developed using Android Studio, Firebase, and Google Maps API for better integration.</li>
        <br>
        <li>Pitched this idea as a platform, along with the developed prototype, at the "Smart Idea Challenge" conducted
            by the RVRJC Entrepreneurship Cell.</li>
</section>
