@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&&family=Roboto+Mono&display=swap');

/* Insert Your COLOR here papa */
:root {
  --prim: #e8aefe;
  --sec: #20262E;
  --tri: #0c0f12;
  --text: white;
  --foot: black;
  --prim2: lightseagreen;
  /* --prim:navy;
    --sec:whitesmoke;
    --tri:wheat;
    --text:black; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* outline : 2px solid white; */
}

*:hover{
  transition: all 0.6s ease;
}
/* Don't Touch these -------------------------------------*/
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--prim) #283139;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #283139;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--prim);
  border-radius: 2px;
  border: 0px solid #ffffff;
}

/* ---------------------------------------------- */
body {
  max-width: 100vw;
  font-family: Hanken Grotesk;
  color: var(--text);
  background-color: var(--sec);
}

.headings{
  text-align: center;
  text-decoration: underline;
}

header {
  position: fixed;
  max-height: 100vh;
  width: 25vw;
  margin-left: 0;
  background-color: var(--tri);
  color: var(--prim);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-right: solid 1px white; */
}

header>* {
  /* background-color: wheat; */
  margin: 20px !important;
}

.perpic {
  /* background-color: black; */
  /* border-radius: 100%; */
  /* aspect-ratio: 1; */
  /* outline: 3px solid var(--prim); */
  font-weight: 600;
}

.person {
  min-height: 30vh;
  display: flex;
  /* font-family: 'Roboto Mono'; */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.person>* {
  padding: 5px 0px;
}

nav {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

li {
  list-style-type: none;
}

.links:hover,
.links:focus {
  background-color: none;
  transition: 0.7ms;
  outline: solid 2px var(--prim);
  /* background-color: var(--prim); */
  color: var(--prim);
}

.links {
  /* background-color: teal; */
  outline: none;
  /* background-color: white; */
  color: var(--text);
  text-decoration: none;
  padding: 10px 15px;
  width: 200px;

  border-radius: 25px;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

main {
  background-color: var(--sec);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%230B0013' cx='50' cy='0' r='50'/%3E%3Cg fill='%2313061a' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23190d20' cx='50' cy='100' r='50'/%3E%3Cg fill='%231e1126' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%2324142d' cx='50' cy='200' r='50'/%3E%3Cg fill='%232b1733' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23321a3a' cx='50' cy='300' r='50'/%3E%3Cg fill='%23391c40' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23411f46' cx='50' cy='400' r='50'/%3E%3Cg fill='%2349214d' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23512453' cx='50' cy='500' r='50'/%3E%3Cg fill='%235a2659' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2362285e' cx='50' cy='600' r='50'/%3E%3Cg fill='%236c2a64' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23752c69' cx='50' cy='700' r='50'/%3E%3Cg fill='%237e2e6f' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23883074' cx='50' cy='800' r='50'/%3E%3Cg fill='%23923179' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%239c327d' cx='50' cy='900' r='50'/%3E%3Cg fill='%23a73482' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23B13586' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
    background-attachment: fixed;
    background-size: contain;
  width: 75vw;
  margin-left: auto;
}

.spec {
  color: var(--prim);
}

.cent {
  width: 65vw;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 60vw;
}

section>* {
  padding: 15px 0px;
}

h1 {
  font-size: 45px;
}

.Big {
  font-size: 50px;
}

.contBig {
  display: flex;
}

.cont {
  width: 18vw;
  margin: 10px;
}

.profile {
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  padding: 5px !important;

  /* outline: 4px solid var(--prim2); */
  /* box-shadow: 0px 20px 40px -10px cyan; */

}
.profile:hover{
    outline: 2px solid var(--prim);
}

.hype {
  text-decoration: none;
}

.hype:hover,
.hype:focus {
  transition: 0.8s;
  text-decoration: underline;
  color: lightseagreen;
}

.iconn {
  filter : brightness(0.8);
  border-radius: 100%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconn:hover,
.iconn:focus,.iconn:out-of-range{
  transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  filter: none;

}

.contact>img {
  width: 40px;
  height: 40px;
  padding: 10px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--prim);

}

.contact {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exp {
  background-color: var(--tri);
}

#upd {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  color: var(--tri);
  display: flex;
  justify-content: center;
  /* text-align: center; */
  align-items: center;
  background-color: var(--prim);
}

#upd:hover {
  box-shadow: 0px 0px 15px -5px var(--prim);
}


@media only screen and (max-width: 800px) {

  h1,h2,h3,h4,p,a,.spec,li{
    font-size: large !important;
  }
  header {
    width: 100vw;
    /* height: 40vh; */
    max-height: 75vh !important;
    position:relative;
    background-color: var(--tri);
    color: var(--prim);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border-right: solid 1px white; */
    }


  main{
    max-width: 100vw;
  }

  .contBig{
    flex-direction: column;
  }
  .cont{
    width: 70vw;
  }

  *{
    font-size: small !important;
  }

    #upd {
      bottom: 20px;
      right: 20px;
      width: 40px;
      height: 40px;
    }
}
