<section id="Home" class="cent">
  <h2>Hi There!</h2>
  <h1>I'm <span class="spec">Ujjwal R Sanagapati</span></h1>
  <p>A determined and ambitious student pursuing 3rd year of the Bachelor of Technology in Computer Science course,
    seeking
    an intern position at an organization, where I can use my skills to attain organizational goals
    and learn new skills to develop my career.</p>
  <div class="btn-batch">
    <a class="links exp spec" href="https://drive.google.com/file/d/1DfUJEEu7oxe5MzLlIur83w3k7wE4P_66/view?usp=sharing" target="_blank">Resume</a>
    <a class="links exp" href="#About">Explore</a></div>
    <a class="links exp" style="width:300px; background-color: aqua; color: black;" href="https://ujjwalr-y20cs161.github.io/" target="_blank">Caluculate Your GPA Here</a>

</section>
