<section id="Home" class="cent">

<p>A determined and ambitious student pursuing 3rd year of the Bachelor of Technology in Computer Science course at <b
    class="spec">RVR&amp;JC College of Engineering</b>,
  seeking an intern position at an organization, to showcase acquired skills to attain organizational goals
  and looking forward to learn and grow in the field of Software Engineering.</p>
  <div class="btn-batch">
    <a class="links exp spec" href="https://docs.google.com/document/d/1T0G3IymyV8DtvuXE6XRXICwXOKvqsr2c21pOq1rzGLM/edit?usp=drive_web&ouid=111917248963708299895" target="_blank">Resume</a>
    </div>

</section>
