#Home{
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.btn-batch{
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
}


